.idea/
.dart_tool/
build/

app/.dart_tool/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages

backend/node_modules/
backend/dist/
backend/coverage/
backend/storage/
backend/.local-postgres/
backend/.env

*.log
